CompileFlags:
  Add: [
    -Wall,
    -Wextra,
    -Wno-unused-function,
    -Wno-unused-variable,
    -x, c,
    -std=c11
]

InlayHints:
  Enabled: No
  ParameterNames: No
  DeducedTypes: No

Diagnostics:
  Suppress: builtin_definition
